h1, h2, h3, h4, h5, h6, p {
    padding-left: 150px;
    font-family: "helvetica", Courier, monospace;
}

a {
    text-decoration: none;
}

.logo {
    position: relative;
    display: inline;
    top: 10px;
}

#mi {
    color: red; margin-right: 0;
}

#salud {
    color: yellowgreen; margin-left: 0; padding-left: 0px;
}

.menu-item {
    text-decoration: none;
    color: #333;
    font-family: "tahoma", Courier, monospace;
    float: right;
    padding-top: 10px;
    padding-inline: 20px;
}

#menu {
    position: absolute;
    top: 10px;
    right: 150px;
}

#section2 h4 #bm {
    color:black;
}

h1 {
    font-family: "tahoma", Courier, monospace; padding-top: 5px;
}

.arrow {
    font-size: 20px;
}

#section2 {
    background-color: lightgray; 
    display: flex;
    position: absolute; 
    height: 350px; 
    width: 100%; 
    top: 60px; 
    bottom: 0; 
    left: 0;
}

#image-box {
    display: flex;
    align-items: center;
    justify-content: end;

}

div #section2 #image-box #shrimp-image {
    position:absolute;
    right: 150px;
    object-fit: cover;
    height: 300px;
    width: 225px;
}

div #section2 #image-box #pasta-image {
    position: absolute;
    right: 400px;
    object-fit: cover;
    height: 300px;
    width: 225px;
}

div #section2 #image-box #quinoa-image {
    position: absolute;
    right: 650px;
    object-fit: cover;
    height: 300px;
    width: 225px;
}