h1, h2, h3, h4, h5, h6, p {
    padding-left: 70px;
    font-family: "helvetica", Courier, monospace;
}

a {
    text-decoration: none;
}

.logo {
    position: relative;
    display: inline;
    top: 10px;
}

#mi {
    color: red; margin-right: 0;
}

#salud {
    color: yellowgreen; margin-left: 0; padding-left: 0px;
}

.menu-item {
    text-decoration: none;
    color: #333;
    font-family: "tahoma", Courier, monospace;
    float: right;
    padding-top: 10px;
    padding-inline: 30px;
}

#menu {
    position: absolute;
    top: 10px;
    right: 70px;
}

#section2 h5 #bm {
    color:black;
}

h1 {
    font-family: "tahoma", Courier, monospace; padding-top: 5px;
}

.arrow {
    font-size: 20px;
}

#section2 {
    background-color: lightgray; 
    position: absolute; 
    height: 350px; 
    width: 100%; 
    top: 60px; 
    bottom: 0; 
    left: 0;
}